body {
  background-color: black;
  margin: auto;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 900px;
}

#avatar {
  border-radius: 50%;
}

#title, .subtitle, .post-title {
  color: Red;
}

.post-img {
  width: 100%;
}

.post-title {
  font-style: italic;
}

.post {
  background-color: white;
  margin: 10px;
  border: white solid 3px;
  padding: 10px;
  border-radius: 3px;
}

p {
  text-align: justify;
}

ul, li a{
  color: white;
  list-style: none;
  padding-bottom: 2px;
  text-decoration: none;
}
